#user{
margin: 20px 0px;
}
#user1{
    display: flex;
    justify-content: center;
}
#userimg{
    border-radius: 10px;
    margin-top: 30px;
    height: 500px;
    width: 500px;
}
#hh4{
    margin: 10px 0px;
}
#id{
    text-align: left;
    margin: 200px 50px;
}
#userbtn{
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: antiquewhite;
}
#userbtn:hover{
    background-color: rgb(161, 86, 236);
    box-shadow: 1px 2px 8px;
}
#inpuser{
    padding: 5px;
    width: 400px;
}